In [1]:
import pandas as pd

In [12]:
data=pd.read_csv("C:/Users/User/Downloads/salaries (1).csv")

In [4]:
target=data["salary_more_then_100k"]
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [5]:
inputs=data.drop(["salary_more_then_100k"],axis="columns")
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [6]:
from sklearn.preprocessing import LabelEncoder
la_data=LabelEncoder()
com_l=la_data.fit_transform(inputs["company"])
job_l=la_data.fit_transform(inputs["job"])
degree_l=la_data.fit_transform(inputs["degree"])

In [9]:
inputs['company']=com_l
inputs['job']=job_l
inputs['degree']=degree_l

In [10]:
from sklearn import tree
model=tree.DecisionTreeClassifier()
model.fit(inputs,target)
model.score(inputs,target)

1.0

In [11]:
model.predict([[2,2,0]])

C:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0])