In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas

In [3]:
mydataset={
    'cars':["BMW","Volvo","Ford"],
    'passings':[3,7,2]
}
myvar=pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
import pandas as pd

In [6]:
mydataset={
    'cars':["BMW","Volvo","Ford"],
    'passings':[3,7,2]
}
myvar=pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [7]:
print(pd.__version__)

2.2.3

In [ ]:
# Pandas Series

In [9]:
a=[1,7,2]
myvar=pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [ ]:
# Labels

In [10]:
print(myvar[0])

1

In [ ]:
# Create Labels

In [11]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [12]:
print(myvar["y"])

7

In [4]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [5]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories,index=["day1","day2"])
print(myvar)

day1    420
day2    380
dtype: int64

In [ ]:
# DataFrames

In [7]:
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [8]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [12]:
print(df.loc[[0,1,]])

   calories  duration
0       420        50
1       380        40

In [13]:
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df=pd.DataFrame(data,index=["day1","day2","day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [14]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
# Pandas csv

In [15]:
df=pd.read_csv('customers.csv')
print(df)

    Index      Customer Id First Name Last Name  \
0       1  DD37Cf93aecA6Dc     Sheryl    Baxter
1       2  1Ef7b82A4CAAD10    Preston    Lozano
2       3  6F94879bDAfE5a6        Roy     Berry
3       4  5Cef8BFA16c5e3c      Linda     Olsen
4       5  053d585Ab6b3159     Joanna    Bender
..    ...              ...        ...       ...
95     96  cb8E23e48d22Eae       Karl     Greer
96     97  CeD220bdAaCfaDf       Lynn  Atkinson
97     98  28CDbC0dFe4b1Db       Fred    Guerra
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer
99    100  2354a0E336A91A1   Clarence    Haynes

                            Company               City  \
0                   Rasmussen Group       East Leonard
1                       Vega-Gentry  East Jimmychester
2                     Murillo-Perry      Isabelborough
3   Dominguez, Mcmillan and Donovan         Bensonview
4          Martin, Lang and Andrade     West Priscilla
..                              ...                ...
95                        Carey LLC       East Richard
96            Ware, Burns and Oneal       New Bradview
97                    Schmitt-Jones         Ortegaland
98               Fitzgerald-Harrell    Lake Elijahview
99               Le, Nash and Cross          Judymouth

                       Country                 Phone 1  \
0                        Chile            229.077.5154
1                     Djibouti              5153435776
2          Antigua and Barbuda         +1-539-402-0259
3           Dominican Republic  001-808-617-6467x12895
4   Slovakia (Slovak Republic)  001-234-203-0635x76146
..                         ...                     ...
95                      Guyana     (188)169-1674x58692
96                   Sri Lanka         +1-846-706-2218
97             Solomon Islands    +1-753-067-8419x7170
98                       Aruba           (530)311-9786
99                    Honduras           (753)813-6941

                   Phone 2                           Email Subscription Date  \
0         397.884.0519x718        zunigavanessa@smith.info        2020-08-24
1         686-620-1820x944                 vmata@colon.com        2021-04-23
2      (496)978-3969x58947             beckycarr@hogan.com        2020-03-25
3          +1-813-324-8756     stanleyblackwell@benson.org        2020-06-02
4    001-199-446-3860x3486         colinalvarado@miles.net        2021-04-17
..                     ...                             ...               ...
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
0          http://www.stephenson.com/
1               http://www.hobbs.com/
2            http://www.lawrence.com/
3          http://www.good-lyons.com/
4         https://goodwin-ingram.com/
..                                ...
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

[100 rows x 12 columns]

In [17]:
print(pd.options.display.max_rows)

60

In [18]:
pd.options.display.max_rows=9999
df=pd.read_csv('customers.csv')
print(df)

    Index      Customer Id  First Name    Last Name  \
0       1  DD37Cf93aecA6Dc      Sheryl       Baxter
1       2  1Ef7b82A4CAAD10     Preston       Lozano
2       3  6F94879bDAfE5a6         Roy        Berry
3       4  5Cef8BFA16c5e3c       Linda        Olsen
4       5  053d585Ab6b3159      Joanna       Bender
5       6  2d08FB17EE273F4       Aimee        Downs
6       7  EA4d384DfDbBf77      Darren         Peck
7       8  0e04AFde9f225dE       Brett       Mullen
8       9  C2dE4dEEc489ae0      Sheryl       Meyers
9      10  8C2811a503C7c5a    Michelle    Gallagher
10     11  216E205d6eBb815        Carl    Schroeder
11     12  CEDec94deE6d69B       Jenna       Dodson
12     13  e35426EbDEceaFF      Tracey         Mata
13     14  A08A8aF8BE9FaD4    Kristine          Cox
14     15  6fEaA1b7cab7B6C       Faith         Lutz
15     16  8cad0b4CBceaeec     Miranda      Beasley
16     17  a5DC21AE3a21eaA    Caroline        Foley
17     18  F8Aa9d6DfcBeeF8        Greg         Mata
18     19  F160f5Db3EfE973    Clifford     Jacobson
19     20  0F60FF3DdCd7aB0      Joanna         Kirk
20     21  9F9AdB7B8A6f7F2     Maxwell         Frye
21     22  FBd0Ded4F02a742       Kiara      Houston
22     23  2FB0FAA1d429421     Colleen       Howard
23     24  010468dAA11382c       Janet   Valenzuela
24     25  eC1927Ca84E033e       Shane       Wilcox
25     26  09D7D7C8Fe09aea      Marcus        Moody
26     27  aBdfcF2c50b0bfD      Dakota        Poole
27     28  b92EBfdF8a3f0E6   Frederick       Harper
28     29  3B5dAAFA41AFa22    Stefanie  Fitzpatrick
29     30  EDA69ca7a6e96a2        Kent     Bradshaw
30     31  64DCcDFaB9DFd4e        Jack         Tate
31     32  679c6c83DD872d6         Tom     Trujillo
32     33  7Ce381e4Afa4ba9     Gabriel        Mejia
33     34  A09AEc6E3bF70eE     Kaitlyn      Santana
34     35  aA9BAFfBc3710fe       Faith         Moon
35     36  E11dfb2DB8C9f72      Tammie        Haley
36     37  889eCf90f68c5Da    Nicholas         Sosa
37     38  7a1Ee69F4fF4B4D      Jordan          Gay
38     39  dca4f1D0A0fc5c9       Bruce      Esparza
39     40  17aD8e2dB3df03D      Sherry        Garza
40     41  2f79Cd309624Abb     Natalie       Gentry
41     42  6e5ad5a5e2bB5Ca       Bryan         Dunn
42     43  7E441b6B228DBcA       Wayne      Simpson
43     44  D3fC11A9C235Dc6        Luis        Greer
44     45  30Dfa48fe5Ede78      Rhonda        Frost
45     46  fD780ED8dbEae7B      Joanne       Montes
46     47  300A40d3ce24bBA    Geoffrey       Guzman
47     48  283DFCD0Dba40aF      Gloria       Mccall
48     49  F4Fc91fEAEad286       Brady        Cohen
49     50  80F33Fd2AcebF05      Latoya       Mccann
50     51  Aa20BDe68eAb0e9      Gerald      Hawkins
51     52  e898eEB1B9FE22b      Samuel     Crawford
52     53  faCEF517ae7D8eB    Patricia      Goodwin
53     54  c09952De6Cda8aA      Stacie      Richard
54     55  f3BEf3Be028166f       Robin         West
55     56  C6F2Fc6a7948a4e       Ralph         Haas
56     57  c8FE57cBBdCDcb2     Phyllis    Maldonado
57     58  B5acdFC982124F2       Danny      Parrish
58     59  8c7DdF10798bCC3       Kathy         Hill
59     60  C681dDd0cc422f7       Kelli        Hardy
60     61  a940cE42e035F28        Lynn         Pham
61     62  9Cf5E6AFE0aeBfd     Shelley       Harris
62     63  aEcbe5365BbC67D       Eddie      Jimenez
63     64  FCBdfCEAe20A8Dc       Chloe   Hutchinson
64     65  636cBF0835E10ff      Eileen        Lynch
65     66  fF1b6c9E8Fbf1ff    Fernando      Lambert
66     67  2A13F74EAa7DA6c     Makayla       Cannon
67     68  a014Ec1b9FccC1E         Tom     Alvarado
68     69  421a109cABDf5fa    Virginia       Dudley
69     70  CC68FD1D3Bbbf22       Riley         Good
70     71  CBCd2Ac8E3eBDF9  Alexandria         Buck
71     72  Ef859092FbEcC07     Richard         Roth
72     73  F560f2d3cDFb618     Candice       Keller
73     74  A3F76Be153Df4a3       Anita       Benson
74     75  D01Af0AF7cBbFeA      Regina        Stein
75     76  d40e89dCade7b2F       Debra       Riddle
76     77  BF6a1f9bd1bf8DE    Brittany       Zuniga
77     78  FfaeFFbbbf280db     Cassidy      Mcmahon
78     79  CbAE1d1e9a8dCb1      Laurie   Pennington
79     80  A7F85c1DE4dB87f   Alejandro        Blair
80     81  D6CEAfb3BDbaa1A      Leslie     Jennings
81     82  Ebdb6F6F7c90b69    Kathleen        Mckay
82     83  E8E7e8Cfe516ef0      Hunter       Moreno
83     84  78C06E9b6B3DF20        Chad     Davidson
84     85  03A1E62ADdeb31c       Corey         Holt
85     86  C6763c99d0bd16D        Emma   Cunningham
86     87  ebe77E5Bf9476CE       Duane        Woods
87     88  E4Bbcd8AD81fC5f      Alison       Vargas
88     89  efeb73245CDf1fF      Vernon         Kane
89     90  37Ec4B395641c1E        Lori      Flowers
90     91  5ef6d3eefdD43bE        Nina       Chavez
91     92  98b3aeDcC3B9FF3       Shane        Foley
92     93  aAb6AFc7AfD0fF3      Collin        Ayers
93     94  54B5B5Fe9F1B6C5      Sherry        Young
94     95  BE91A0bdcA49Bbc     Darrell      Douglas
95     96  cb8E23e48d22Eae        Karl        Greer
96     97  CeD220bdAaCfaDf        Lynn     Atkinson
97     98  28CDbC0dFe4b1Db        Fred       Guerra
98     99  c23d1D9EE8DEB0A      Yvonne       Farmer
99    100  2354a0E336A91A1    Clarence       Haynes

                            Company                 City  \
0                   Rasmussen Group         East Leonard
1                       Vega-Gentry    East Jimmychester
2                     Murillo-Perry        Isabelborough
3   Dominguez, Mcmillan and Donovan           Bensonview
4          Martin, Lang and Andrade       West Priscilla
5                      Steele Group        Chavezborough
6      Lester, Woodard and Mitchell             Lake Ana
7      Sanford, Davenport and Giles              Kimport
8                    Browning-Simon         Robersonstad
9                      Beck-Hendrix           Elaineberg
10       Oconnell, Meza and Everett         Shannonville
11        Hoffman, Reed and Mcclain          East Andrea
12                   Graham-Francis    South Joannamouth
13                   Carpenter-Cook             Jodyberg
14                   Carter-Hancock            Burchbury
15               Singleton and Sons         Desireeshire
16                  Winters-Mendoza    West Adriennestad
17                    Valentine LLC          Lake Leslie
18                        Simon LLC           Harmonview
19                   Mays-Mccormick           Jamesshire
20                    Patterson Inc           East Carly
21       Manning, Hester and Arroyo          South Alvin
22                   Greer and Sons         Brittanyview
23                  Watts-Donaldson        Veronicamouth
24                       Tucker LLC           Bryanville
25                        Giles Ltd          Kaitlyntown
26                    Simmons Group         Michealshire
27        Hinton, Chaney and Stokes    South Marissatown
28                    Santana-Duran         Acevedoville
29                       Sawyer PLC         North Harold
30      Acosta, Petersen and Morrow          West Samuel
31                      Mcgee Group    Cunninghamborough
32                   Adkins-Salinas        Port Annatown
33                    Herrera Group          New Kaitlyn
34        Waters, Chase and Aguilar     West Marthaburgh
35       Palmer, Barnes and Houston          East Teresa
36                       Jordan Ltd         South Hunter
37                  Glover and Sons         South Walter
38                    Huerta-Mclean            Poolefurt
39                     Anderson Ltd            West John
40                       Monroe PLC          West Darius
41                 Kaufman and Sons        North Jimstad
42                  Perkins-Trevino  East Rebekahborough
43                        Cross PLC           North Drew
44  Herrera, Shepherd and Underwood      Lake Lindaburgh
45       Price, Sexton and Mcdaniel        Gwendolynview
46                    Short-Wiggins        Zimmermanland
47        Brennan, Acosta and Ramos       North Kerriton
48                 Osborne-Erickson    North Eileenville
49       Hobbs, Garrett and Sanford      Port Sergiofort
50          Phelps, Forbes and Koch       New Alberttown
51          May, Goodwin and Martin        South Jasmine
52     Christian, Winters and Ellis            Cowanfort
53                         Byrd Inc          New Deborah
54        Nixon, Blackwell and Sosa            Wallstown
55                       Montes PLC    Lake Ellenchester
56                        Costa PLC         Lake Whitney
57                        Novak LLC       East Jaredbury
58           Moore, Mccoy and Glass           Selenabury
59                        Petty Ltd            Huangfort
60       Brennan, Camacho and Tapia      East Pennyshire
61          Prince, Malone and Pugh   Port Jasminborough
62                   Caldwell Group        West Kristine
63                        Simon LLC          South Julia
64       Knight, Abbott and Hubbard         Helenborough
65                     Church-Banks           Lake Nancy
66                    Henderson Inc           Georgeport
67              Donaldson-Dougherty     South Sophiaberg
68                       Warren Ltd             Hartbury
69                         Wade PLC           Erikaville
70                    Keller-Coffey          Nicolasfort
71                   Conway-Mcbride     New Jasmineshire
72                   Huynh and Sons      East Summerstad
73                      Parrish Ltd          Skinnerport
74                     Guzman-Brown              Raystad
75       Chang, Aguirre and Leblanc           Colinhaven
76                     Mason-Hester        West Reginald
77       Mcguire, Huynh and Hopkins   Lake Sherryborough
78          Sanchez, Marsh and Hale  Port Katherineville
79         Combs, Waller and Durham           Thomasland
80                Blankenship-Arias            Coreybury
81         Coffey, Lamb and Johnson       Lake Janiceton
82             Fitzpatrick-Lawrence         East Clinton
83                   Garcia-Jimenez    South Joshuashire
84       Mcdonald, Bird and Ramirez           New Glenda
85                     Stephens Inc    North Jillianview
86                   Montoya-Miller            Lyonsberg
87          Vaughn, Watts and Leach    East Cristinabury
88                Carter-Strickland           Thomasfurt
89                  Decker-Mcknight       North Joeburgh
90                    Byrd-Campbell       Cassidychester
91                       Rocha-Hart     South Dannymouth
92                    Lamb-Peterson         South Lonnie
93          Lee, Lucero and Johnson         Frankchester
94      Newton, Petersen and Mathis         Daisyborough
95                        Carey LLC         East Richard
96            Ware, Burns and Oneal         New Bradview
97                    Schmitt-Jones           Ortegaland
98               Fitzgerald-Harrell      Lake Elijahview
99               Le, Nash and Cross            Judymouth

                                         Country                 Phone 1  \
0                                          Chile            229.077.5154
1                                       Djibouti              5153435776
2                            Antigua and Barbuda         +1-539-402-0259
3                             Dominican Republic  001-808-617-6467x12895
4                     Slovakia (Slovak Republic)  001-234-203-0635x76146
5                         Bosnia and Herzegovina     (283)437-3886x88321
6                               Pitcairn Islands      (496)452-6181x3291
7                                       Bulgaria    001-583-352-7197x297
8                                         Cyprus       854-138-4911x5772
9                                    Timor-Leste        739.218.2516x459
10                                      Guernsey        637-854-0256x825
11                                       Vietnam           (041)737-3846
12                                          Togo        001-949-844-8787
13                                     Sri Lanka      786-284-3358x62152
14                                     Singapore      (781)861-7180x8306
15                                          Oman        540.085.3135x185
16                                Western Sahara       936.222.4746x9924
17                                    Mozambique           (701)087-2415
18  South Georgia and the South Sandwich Islands   001-151-330-3524x0469
19                              French Polynesia       (266)131-7001x711
20                                         Malta            423.262.3059
21                                   Netherlands  001-274-040-3582x10611
22                                      Paraguay              1935085151
23              Lao People's Democratic Republic       354.259.5062x7538
24                                       Albania     (429)005-9030x11004
25                                        Panama            674-677-8623
26                                       Belarus      (371)987-8576x4720
27                                   Switzerland    +1-077-121-1558x0687
28              Saint Vincent and the Grenadines           (752)776-3286
29                                      Tanzania     +1-472-143-5037x884
30                                      Zimbabwe      965-108-4406x20714
31                                       Denmark            416-338-3758
32                                 Liechtenstein              4077245425
33                      United States of America              6303643286
34                                       Bahamas    +1-586-217-0359x6317
35                                        Belize   001-276-734-4113x6087
36                                       Uruguay           (661)425-6042
37                               Solomon Islands              7208417020
38                                    Montenegro            559-529-4424
39                                        Poland    001-067-713-6440x158
40                            Dominican Republic            830.996.8238
41                                  Burkina Faso        001-710-802-5565
42                                       Bolivia      (344)156-8632x1869
43                                      Bulgaria    001-336-025-6849x701
44                                        Monaco           (127)081-9339
45                                         Palau           (897)726-7952
46                                    Uzbekistan        975.235.8921x269
47                                         Ghana            445-603-6729
48                          United Arab Emirates        741.849.0139x524
49                                       Belarus     (530)287-4548x29481
50                                        Canada   +1-323-239-1456x96168
51                                       Algeria            802-242-7457
52                                     Swaziland      322.549.7139x70040
53                                    Madagascar  001-622-948-3641x24810
54                                       Ecuador            698.303.4267
55                         Palestinian Territory              2239271999
56                              Saint Barthelemy              4500370767
57                          United Arab Emirates      (669)384-8597x8794
58  South Georgia and the South Sandwich Islands    001-171-716-2175x310
59                         Sao Tome and Principe       020.324.2191x2022
60                                      Portugal        846.468.6834x611
61                                          Togo       423.098.0315x8373
62                                      Ethiopia    +1-235-657-1073x6306
63                                   Netherlands            981-544-9452
64                                       Liberia   +1-158-951-4131x53578
65                                     Lithuania            497.829.9038
66                                 New Caledonia  001-215-801-6392x46009
67                                      Kiribati      (585)606-2980x2258
68                   French Southern Territories      027.846.3705x14184
69                                        Canada              6977745822
70                                          Iran      078-900-4760x76668
71                                       Morocco            581-440-6539
72                                      Zimbabwe  001-927-965-8550x92406
73                            Russian Federation      874.617.5668x69878
74                               Solomon Islands   001-469-848-0724x4407
75                  United States Virgin Islands   +1-768-182-6014x14336
76                               Kyrgyz Republic           (050)136-9025
77                                       Myanmar              5040771311
78                                      Dominica        007.155.3406x553
79                                       Iceland     (690)068-4641x51468
80                                    Micronesia            629.198.6346
81              Saint Vincent and the Grenadines           (733)910-9968
82                                   Isle of Man           (733)833-6754
83                                          Oman              8275702958
84                                          Fiji   001-439-242-4986x7918
85                                   New Zealand      128-059-0206x60217
86                                      Maldives      (636)544-7783x7288
87                                         Benin            365-273-8144
88                                         Yemen        114-854-1159x555
89                                       Namibia            679.415.1210
90                                        Bhutan            053-344-3205
91                                       Hungary         +1-822-569-0302
92                                      Anguilla        404-645-5351x012
93                               Solomon Islands            158-687-1764
94                                          Mali   001-084-845-9524x1777
95                                        Guyana     (188)169-1674x58692
96                                     Sri Lanka         +1-846-706-2218
97                               Solomon Islands    +1-753-067-8419x7170
98                                         Aruba           (530)311-9786
99                                      Honduras           (753)813-6941

                   Phone 2                               Email  \
0         397.884.0519x718            zunigavanessa@smith.info
1         686-620-1820x944                     vmata@colon.com
2      (496)978-3969x58947                 beckycarr@hogan.com
3          +1-813-324-8756         stanleyblackwell@benson.org
4    001-199-446-3860x3486             colinalvarado@miles.net
5             999-728-1637                 louis27@gilbert.com
6     +1-247-266-0963x4995                 tgates@cantrell.com
7         001-333-145-0369                     asnow@colon.com
8      +1-448-910-2276x729             mariokhan@ryan-pope.org
9     001-054-401-0347x617                   mdyer@escobar.net
10        114.336.0784x788                  kirksalas@webb.com
11   +1-556-888-3485x42608                  mark42@robbins.com
12           (855)713-8773                    alex56@walls.org
13    +1-315-627-1796x8074            holdenmiranda@clarke.com
14            207-185-3665   cassieparrish@blevins-chapman.net
15   +1-600-462-6432x21881             vduncan@parks-hardy.com
16    001-469-948-6341x359  holtgwendolyn@watson-davenport.com
17     (195)156-1861x26241             jaredjuarez@carroll.org
18           (748)477-7174               joseph26@jacobson.com
19     (283)312-5579x11543             tuckerangie@salazar.net
20       202-880-0688x7491              fgibson@drake-webb.com
21    +1-528-175-0973x4684    blanchardbob@wallace-shannon.com
22      (947)115-7711x5488          rsingleton@ryan-cherry.com
23            500.433.2022               stefanie71@spence.com

In [19]:
df=pd.read_csv('customers.csv')
print(df.head(10))

   Index      Customer Id First Name  Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl     Baxter
1      2  1Ef7b82A4CAAD10    Preston     Lozano
2      3  6F94879bDAfE5a6        Roy      Berry
3      4  5Cef8BFA16c5e3c      Linda      Olsen
4      5  053d585Ab6b3159     Joanna     Bender
5      6  2d08FB17EE273F4      Aimee      Downs
6      7  EA4d384DfDbBf77     Darren       Peck
7      8  0e04AFde9f225dE      Brett     Mullen
8      9  C2dE4dEEc489ae0     Sheryl     Meyers
9     10  8C2811a503C7c5a   Michelle  Gallagher

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla
5                     Steele Group      Chavezborough
6     Lester, Woodard and Mitchell           Lake Ana
7     Sanford, Davenport and Giles            Kimport
8                   Browning-Simon       Robersonstad
9                     Beck-Hendrix         Elaineberg

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486
5      Bosnia and Herzegovina     (283)437-3886x88321           999-728-1637
6            Pitcairn Islands      (496)452-6181x3291   +1-247-266-0963x4995
7                    Bulgaria    001-583-352-7197x297       001-333-145-0369
8                      Cyprus       854-138-4911x5772    +1-448-910-2276x729
9                 Timor-Leste        739.218.2516x459   001-054-401-0347x617

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/
5          louis27@gilbert.com        2020-02-25       http://www.berger.net/
6          tgates@cantrell.com        2021-08-24          https://www.le.com/
7              asnow@colon.com        2021-04-12  https://hammond-ramsey.com/
8      mariokhan@ryan-pope.org        2020-01-13     https://www.bullock.net/
9            mdyer@escobar.net        2021-11-08           https://arias.com/

In [21]:
df=pd.read_csv('customers.csv')
print(df.head())

   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/

In [22]:
print(df.tail())

    Index      Customer Id First Name Last Name                Company  \
95     96  cb8E23e48d22Eae       Karl     Greer              Carey LLC
96     97  CeD220bdAaCfaDf       Lynn  Atkinson  Ware, Burns and Oneal
97     98  28CDbC0dFe4b1Db       Fred    Guerra          Schmitt-Jones
98     99  c23d1D9EE8DEB0A     Yvonne    Farmer     Fitzgerald-Harrell
99    100  2354a0E336A91A1   Clarence    Haynes     Le, Nash and Cross

               City          Country               Phone 1  \
95     East Richard           Guyana   (188)169-1674x58692
96     New Bradview        Sri Lanka       +1-846-706-2218
97       Ortegaland  Solomon Islands  +1-753-067-8419x7170
98  Lake Elijahview            Aruba         (530)311-9786
99        Judymouth         Honduras         (753)813-6941

                   Phone 2                           Email Subscription Date  \
95    001-841-293-3519x614                hhart@jensen.com        2022-01-30
96            605.413.3198               vkemp@ferrell.com        2021-07-10
97   +1-632-666-7507x92121                swagner@kane.org        2021-09-18
98  001-869-452-0943x12424  mccarthystephen@horn-green.biz        2021-08-11
99            783.639.1472          colleen91@faulkner.biz        2020-03-11

                              Website
95            http://hayes-perez.com/
96         https://novak-allison.com/
97              https://www.ross.com/
98               http://watkins.info/
99  http://www.hatfield-saunders.net/

In [23]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB
None

In [6]:
import pandas as pd
data= {
    'A': [1, 2, 3, None, 5],  
    'B': [None, 2, 3, 4, 5],  
    'C': [1, 2, None, None, 5]
}
data

{'A': [1, 2, 3, None, 5], 'B': [None, 2, 3, 4, 5], 'C': [1, 2, None, None, 5]}

In [20]:
df = pd.DataFrame(data)
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0

In [7]:
new_df=df.dropna()
print(new_df.to_string())

     A    B    C
1  2.0  2.0  2.0
4  5.0  5.0  5.0

In [9]:
df.dropna(inplace=True)
print(df.to_string())

     A    B    C
1  2.0  2.0  2.0
4  5.0  5.0  5.0

In [16]:
df.fillna(3.0,inplace=True)
df

     A    B         C    c
0  1.0  3.0  1.000000  3.0
1  2.0  2.0  2.000000  3.0
2  3.0  3.0  2.666667  3.0
3  3.0  4.0  3.000000  3.0
4  5.0  5.0  5.000000  3.0

In [17]:
df["A"].fillna(3.0,inplace=True)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15280\1153554083.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["A"].fillna(3.0,inplace=True)

     A    B    C
0  1.0  3.0  1.0
1  2.0  2.0  2.0
2  3.0  3.0  3.0
3  3.0  4.0  3.0
4  5.0  5.0  5.0

In [9]:
import pandas as pd
df=pd.DataFrame(data)
x=df["C"].mean()
df["C"].fillna(x,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_18396\2005027120.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["C"].fillna(x,inplace=True)

In [10]:
df

     A    B         C
0  1.0  NaN  1.000000
1  2.0  2.0  2.000000
2  3.0  3.0  2.666667
3  NaN  4.0  2.666667
4  5.0  5.0  5.000000

In [12]:
x=df["C"].median()
df["C"].fillna(x,inplace=True)
df

C:\Users\User\AppData\Local\Temp\ipykernel_18396\3388028462.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["C"].fillna(x,inplace=True)

     A    B         C
0  1.0  NaN  1.000000
1  2.0  2.0  2.000000
2  3.0  3.0  2.666667
3  NaN  4.0  2.666667
4  5.0  5.0  5.000000

In [13]:
x=df["C"].mode()[0]
df["C"].fillna(x,inplace=True)
df

C:\Users\User\AppData\Local\Temp\ipykernel_18396\1968800364.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["C"].fillna(x,inplace=True)

     A    B         C
0  1.0  NaN  1.000000
1  2.0  2.0  2.000000
2  3.0  3.0  2.666667
3  NaN  4.0  2.666667
4  5.0  5.0  5.000000

In [15]:
df.loc[3,'C']=3.000000
df

     A    B         C    c
0  1.0  NaN  1.000000  NaN
1  2.0  2.0  2.000000  NaN
2  3.0  3.0  2.666667  NaN
3  NaN  4.0  3.000000  3.0
4  5.0  5.0  5.000000  NaN

In [18]:
for x in df.index:
    if df.loc[x,"B"]>2.0:
        df.loc[x,"B"]=2.2
df

     A    B         C    c
0  1.0  2.2  1.000000  3.0
1  2.0  2.0  2.000000  3.0
2  3.0  2.2  2.666667  3.0
3  3.0  2.2  3.000000  3.0
4  5.0  2.2  5.000000  3.0

In [19]:
for x in df.index:
    if df.loc[x,"c"]>2.0:
        df.drop(x,inplace=True)
df

Empty DataFrame
Columns: [A, B, C, c]
Index: []

In [21]:
print(df.duplicated())
df

0    False
1    False
2    False
3    False
4    False
dtype: bool

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0

In [22]:
df.drop_duplicates(inplace=True)
df

     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  2.0
2  3.0  3.0  NaN
3  NaN  4.0  NaN
4  5.0  5.0  5.0